.language-switch {
  margin-right: -12px;

  @include breakpoint('small') {
    position: absolute;
    left: -8px;
    top: 24px;
  }
  
  &__item {
    margin: 0 10px;
  }

  .highlighted {
    &:hover {

      &::before {
        width: 120%;
      }
    }
  }
}