.modal-body {

  .booking-modal {

    .contact-info__address {
      @include breakpoint('small') {
        display: none;
      }
    }

    .contact-info__quote {
      color: white;
    }
    
    p, li {
      color: white;
    }

    svg path {
      fill: white;
    }

    input {
      background-color: #101010;
      border-color: #d3d3d3;
    }

    .input-counter::after {
      background-color: #101010;
    }
  }

  .finish-order-message {

    h1 {
      font-size: 40px;

      span {
        display: block;
      }
    }

    .bttn {
      margin-top: 50px;
      text-transform: none;
    }
  }
}