.afisha-page {
  background-color: white; 
  color: $almost-black;

  &.page__slider {
    height: 100vh;
  }

  h2::after {
    color: $pale-gray;
  }

  p {
    color: $almost-black;
    font-weight: 300;
  }

  svg path {
    stroke: $almost-black;
  }
}