.afisha-page {
  background-color: white; 
  color: $almost-black;
  height: 100%;
  
  .layout {
    .header, .footer {
      position: absolute;

      @include breakpoint('small') {
        position: static;
      }
    }

    .footer {
      bottom: 0;

      @include breakpoint('small') {
        top: 0;
        bottom: auto;
      }
    }
  }

  .page__slider {
    // height: 100vh;

    @include breakpoint('small') {
      // height: 100%;
    }

    .slick-dots {
      @include breakpoint('small') {
        width: 100%;
        position: fixed;
        top: auto;
        bottom: 0;
        display: flex!important;
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: white;
      }
    }
  }

  h2::after {
    color: $pale-gray;
  }

  p {
    color: $almost-black;
    font-weight: 300;
  }

  svg path {
    stroke: $almost-black;
  }

  .content-holder {
    @include breakpoint('small') {
      flex-direction: column-reverse;

      &__item {
        position: static;
      }
    }
  }

  .page__slider>.slick-list {
    @include breakpoint('small') {
      height: auto!important;
    }
  }
}
