.afisha-page {
  background-color: white; 
  color: $almost-black;

  @include breakpoint('small') {
    padding-bottom: 50px;
  }
  
  .layout {
    .header, .footer {
      position: absolute;
    }

    .footer {
      bottom: 0;

      @include breakpoint('small') {
        top: 0;
        bottom: auto;
      }
    }
  }

  .page__slider {
    height: 100vh;

    @include breakpoint('small') {
      height: 100%;
    }

    .slick-dots {
      @include breakpoint('small') {
        width: 100%;
        position: fixed;
        top: auto;
        bottom: 0;
        display: flex!important;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: white;
      }
    }
  }

  h2 {
    @include breakpoint('small') {
      position: absolute;
      top: 55px;
    }
  }

  h2::after {
    color: $pale-gray;
  }

  p {
    color: $almost-black;
    font-weight: 300;
  }

  svg path {
    stroke: $almost-black;
  }

  .content-holder {
    @include breakpoint('small') {
      flex-direction: column-reverse;

      &__item {
        position: static;
      }
    }
  }
}
