@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bulma/css/bulma.min.css';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.min-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.container {
  min-width: 1500px;
  //padding: 0 37px;

  &--half {
    display: flex;

    &__item {
      width: 50%;
    }
  }

  &--double {
    display: flex;

    &__item {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-right: 10rem;
    }
  }

  &--menu {
    display: flex;
    flex-direction: column;
    width: 55%;
  }
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.space-between {
  justify-content: space-between;
}

.background {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100vw;
  min-height: 100vh;

  &--main {
    
  }

  &--img {
  }

  &--menu {
    background-color: $almost-black;
  }
}

.text-block {
  max-width: 560px;
}

h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 0.1rem;
  font-family: $playfair;
}

h2 {
  font-size: 4.0625rem;
  font-family: $playfair;
  font-weight: bold;
  line-height: 1.1;
  color: $primary-color;
  display: inline-block;
  margin-bottom: 30px;
  overflow: hidden;

  &::after {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    height: 1px;
    box-shadow: -98vw 100vw 0 98.3vw;
    color: $dark-gray;
  }
}

p {
  font-family: $muller;
  font-size: 1.125rem;
  line-height: 1.6625rem;
  color: white;
  margin-bottom: 20px;
}

a {
  font-size: 0.75rem;
  //color: white;
  font-family: $muller;
  font-weight: bold; 
  line-height: 1.13;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  position: relative;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -3px;
    height: 100%;
    padding: 10px 0;
    background-color: $primary-color;
    width: 0%;
    transition: width 0.2s ease-in;
  }

  &:hover {
    color: white;

    &:before {
      width: 55%;
    }
    
  }
}

.primary-color {
  color: $primary-color;
}
