@import '../../node_modules/normalize.css/normalize.css';
@import './bulma-custom-variables.sass';
// @import '../../node_modules/bulma/css/bulma.min.css';
@import '~bulma/bulma';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import './typography.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;

  @include breakpoint('hd') {
    font-size: 16px;
  }

  @include breakpoint('large') {
    font-size: 14px;
  }

  @include breakpoint('medium') {
    font-size: 14px;
  }

  @include breakpoint('small') {
    font-size: 12px;
  }
}

.min-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  @include breakpoint('small') {
    justify-content: flex-start;
    // min-height: 100%;
  }
}

.columns {
  margin: 0;
  padding: 0;

  .column {
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container {
  max-width: 1500px;
}

.container .content-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;

  @include breakpoint('small') {
    flex-direction: column-reverse;
    margin-top: 0;
  } 

  &__item {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 5%;

    @include breakpoint('small') {
      width: 100%;
      margin-right: 0;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    .content-holder__item {
      &:first-child {
        margin-right: 10%;

        @include breakpoint('medium') {
          margin-right: 6%;
        }
      }
    }
  }
}

.page {
  position: relative;
  width: 100vw;
  height: 100%;

  @include breakpoint('small') {
    padding-bottom: 30px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;

  @include breakpoint('small') {
    justify-content: flex-end;
  }
}

.background {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-size: cover;

  &--menu {
    background-image: url(../pages/menu-page/img/menu-back.jpg);
    height: 100%;
  }

  &--img {
    @include breakpoint('small') {
      position: static;
      min-height: 300px;
      margin-bottom: 50px
    }
  }
}

.text-block {
  max-width: 600px;
  margin-top: 30px;
  
  p {
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @include breakpoint('large') {
    margin-top: 15px;
  }

  @include breakpoint('medium') {
    margin-top: 15px;
  }
}

.menu-pic {
  position: absolute;
  top: 10%;
  right: 4%;
  animation: slide-in-right 1.2s ease-in-out 0.6s both;
  width: 40%;

  @include breakpoint('large') {
    top: 15%;
  }
  @include breakpoint('medium') {
    top: 10%;
    right: -40%;
    width: 80%;
  }
  @include breakpoint('small') {
    display: none;
  }

  img {
    width: 100%;
    position: absolute;
  }

  &__front {
    animation: rotate-center 1s ease-in-out 1.3s 1 both;
    z-index: 20;
    max-width: 100%;
  }

  &__back {
    animation: scale-in-center 1.5s ease-out 1.3s both;
    z-index: 15;
    min-width: 140%;
    margin-top: -10%;
    right: -20%;

    @include breakpoint('large') {
      right: -10%;
    }
    @include breakpoint('medium') {
      right: -10%;
    }
  }
}

.primary-color {
  color: $primary-color;
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}

.on-mobile {
  display: none;

  @include breakpoint('small') {
    display: block;
  }
}
