@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bulma/css/bulma.min.css';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import './typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;

  @include breakpoint('hd') {
    font-size: 16px;
  }

  @include breakpoint('large') {
    font-size: 14px;
  }

  @include breakpoint('medium') {
    font-size: 14px;
  }

  @include breakpoint('small') {
    font-size: 12px;
  }
}

.min-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  @include breakpoint('small') {
    justify-content: flex-start;
    min-height: 100%;
  }
}

.columns {
  margin: 0;
  padding: 0;

  .column {
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container .content-holder {
  display: flex;
  justify-content: space-between;

  @include breakpoint('small') {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  } 

  &__item {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 5%;

    @include breakpoint('small') {
      width: 100%;
      margin-right: 0;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    .content-holder__item {
      &:first-child {
        margin-right: 10%;

        @include breakpoint('medium') {
          margin-right: 6%;
        }
      }
    }
  }
}

.page {
  position: relative;
  width: 100vw;
  // height: 100vh;
  height: 100%;

  @include breakpoint('small') {
    // min-height: 100vh;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;

  @include breakpoint('small') {
    justify-content: flex-end;
  }
}

.background {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  object-fit: cover;

  &--menu {
    background-image: url(../pages/menu-page/img/menu-back.jpg);
  }

  &--img {
    @include breakpoint('small') {
      position: static;
      min-height: 300px;
      margin-bottom: 50px
    }
  }
}

.text-block {
  max-width: 600px;
  margin-top: 30px;
  
  p {
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @include breakpoint('large') {
    margin-top: 15px;
  }

  @include breakpoint('medium') {
    margin-top: 15px;
  }
}

.primary-color {
  color: $primary-color;
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}

.on-mobile {
  display: none;

  @include breakpoint('small') {
    display: block;
  }
}