.layout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  fill: white;

  a, p {
    color: inherit;
  }

  .header__logo a:hover {
    &::before {
      display: none;
    }
  }

  svg g path {
    fill: white;
  }

  &--black {
    color: $almost-black;
    fill: $almost-black;

    .bttn--side button {
      color: $almost-black;

      &:hover {
        color: $almost-black;
      }
    }

    a:hover {
      color: $almost-black;
    }
    
    svg g path {
      fill: $almost-black;
    }

    .page__slider .slick-dots li button {
      color: $almost-black;
    }


  }
}
  

