.layout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;

  a, p {
    color: inherit;
  }

  svg g path {
    fill: white;
  }

  &--black {
    color: $almost-black;
    
    svg g path {
      fill: $almost-black;
    }

    .page__slider .slick-dots li button {
      color: $almost-black;
    }
  }
}
  

