.about-page {
  color: white;
  background-color: $almost-black;
  height: 100%;

  .layout {
    .header, .footer {
      position: absolute;
    }

    .footer {
      bottom: 0;

      @include breakpoint('small') {
        bottom: auto;
      }
    }
  }

  .container .content-holder__item {
    @include breakpoint('medium') {
      width: 60%;
    }
    @include breakpoint('small') {
      width: 100%;
    }
  }
  
  .text-block p {
    font-weight: 300;
    text-shadow: 2px 3px 2px $almost-black;
  }

  .slick-list .slide--big {
    background: linear-gradient(0deg,rgba(25,25,25,0.75),rgba(25,25,25,0.75));
    background-size: cover;

    @include breakpoint('small') {
      background: none;
    }
  }
}