.about-page {
  color: white;
  background-color: $almost-black;
  height: 100%;

  .layout {
    .header, .footer {
      position: absolute;
    }

    .footer {
      bottom: 0;

      @include breakpoint('small') {
        // top: -30px;
        bottom: auto;
      }
    }
  }
  
  .text-block p {
    font-weight: 300;
    text-shadow: 2px 3px 2px $almost-black;
  }

  .slick-list .slide {
    background: linear-gradient(0deg,rgba(25,25,25,0.75),rgba(25,25,25,0.75));
    background-size: cover;

    @include breakpoint('small') {
      background: none;
    }
  }
}