.slide .afisha-slider {
  width: 588px;
  height: 588px;

  @include breakpoint('large') {
    width: 400px;
    height: 400px;
  }
  @include breakpoint('medium') {
    width: 300px;
    height: 300px;
  }

  .slick-arrow {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $almost-black;
    opacity: 0.7;
    font-size: 0;
    z-index: 5;
    border: none;

    @include breakpoint('large') {
      width: 25px;
      height: 25px;
    }
    @include breakpoint('medium') {
      width: 25px;
      height: 25px;
    }

    &.slick-prev {
      margin-right: 50px;

      @include breakpoint('large') {
        margin-right: 30px;
      }
      @include breakpoint('medium') {
        margin-right: 30px;
      }

      &::after {
        content: '<';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 15;
        color: white;
        font-size: 30px;
        bottom: 12px;
        left: 5px;

        @include breakpoint('large') {
          width: 20px;
          height: 20px;
          font-size: 20px;
          bottom: 6px;
          left: 2px;
        }
        @include breakpoint('medium') {
          width: 20px;
          height: 20px;
          font-size: 20px;
          bottom: 6px;
          left: 2px;
        }
      }
    }

    &.slick-next {

      &::after {
        content: '>';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 15;
        color: white;
        font-size: 30px;
        bottom: 12px;
        right: 5px;

        @include breakpoint('large') {
          width: 20px;
          height: 20px;
          font-size: 20px;
          bottom: 6px;
          right: 2px;
        }
        @include breakpoint('medium') {
          width: 20px;
          height: 20px;
          font-size: 20px;
          bottom: 6px;
          right: 2px;
        }
      }
    }
  }

  .slick-list {
    height: 588px;

    @include breakpoint('large') {
      height: 400px;
    }
    @include breakpoint('medium') {
      height: 300px;
    }

    .slick-track img {
      height: 588px;
      object-fit: cover;

      @include breakpoint('large') {
        height: 400px;
      }
      @include breakpoint('medium') {
        height: 300px;
      }
    }
  }

  .slick-dots {
    display: inline-flex!important;
    bottom: -50px;
    top: auto;
    right: 40%;

    @include breakpoint('large') {
      bottom: -30px;
    }
    @include breakpoint('medium') {
      bottom: -30px;
    }

    li {
      button {
        background-color: gray;
        border: 6px solid gray;
        border-radius: 50% 50%;
        font-size: 0;
        width: 10px;
        height: 10px;
        margin: 7px;
        line-height: 0;

        &::before {
          content: '';
        }

        @include breakpoint('large') {
          border: 4px;
          width: 8px;
          height: 8px;
          margin: 5px;
        }
      }
    }

    .slick-active button {
      font-size: 0px;
      border-color: $primary-color;
      background-color: $primary-color;

      &::after {
        display: none;
      }
    }
  }
}


