.page__slider {

  .slick-slider .slick-list {
    height: 100vh;
  }

  .slick-list .slick-track {
    transform: none;
  }

  .slick-list .slide {
    height: 100vh;
    padding-top: 170px; 
  }

  .slick-dots {
    position: absolute;
    right: 11%;
    top: calc(50% - 75px);
    text-align: right;

    li button {
      color: white;
      background-color: transparent;
      border: none;
      font: 14px $muller;
      font-weight: 300; 
      line-height: 18px;
      margin: 5px 0;

      &::before {
        content: '0';
        display: inline-block;
        width: 16px;
        font-family: inherit;
      }

      &:hover {
        cursor: pointer;
        outline: none;
      }
    }

    .slick-active button {
      color: $primary-color;
      font: 26px $muller;
      line-height: 33px;
      outline: none;

      &::before {
        width: 20px;
      }

      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid $primary-color;
      }
    }
  }

  &.dots-black {
    .slick-dots li {
      button {
        color: $almost-black;
      }
    }
  }
}
