.page {
  margin-bottom: auto;
  //position: absolute;
  width: 100vw;
  height: 100%;
  //top: 0;
  //left: 0;

  &__slider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    .slick-list {
      position: absolute;
      width: 100vw;
      height: 100vh;
      overflow: unset;
    }

    .slick-list .slick-track {
      height: 100vh;
    }

    .slick-list .slide {
      margin-top: 150px;
    }

    .slick-dots {
      position: absolute;
      right: 14%;
      top: 40%;

      li button {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 20px;
        margin: 5px 0;
      }

      .slick-active button {
        color: $primary-color;
        font-size: 30px;
        outline: none;

        &:after {
          content: '';
          display: block;
          border-bottom: 1px solid $primary-color;
        }
      }
    }
  }
}