.page__slider {
  user-select: text;

  @include breakpoint('small') {
    touch-action: pan-y;
    -ms-touch-action: pan-y;
    overflow: hidden;
  }

  &.slick-slider .slick-list {
    height: 100vh;

    @include breakpoint('small') {
      height: 100%;
    }
  }

  .slick-list .slick-track {
    transform: none;
  }

  .slick-list .slide--big {
    height: 100vh;
    padding-top: 5%;
    position: relative;
    width: 100%;

    @include breakpoint('small') {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding-top: 0; 
    }
  }

  .slick-dots {
    position: absolute;
    right: 8vw;
    top: calc(50% - 75px);
    text-align: right;
    
    @include breakpoint('small') {
      right: 0;
      left: 0;
      top: 320px;
      display: inline-flex!important;
      align-items: center;
      justify-content: center;
    }

    li button {
      color: white;
      background-color: transparent;
      border: none;
      font: 14px $muller;
      font-weight: 300; 
      line-height: 18px;
      margin: 5px 0;

      @include breakpoint('large') {
        font-size: 12px;
        line-height: 15px;
      }
      @include breakpoint('medium') {
        font-size: 12px;
        line-height: 15px;
      }
      @include breakpoint('small') {
        background-color: gray;
        border: 6px solid gray;
        border-radius: 50% 50%;
        font-size: 0;
        width: 10px;
        height: 10px;
        margin: 7px;
        line-height: 0;

        &::before {
          content: '';
        }
      }

      &::before {
        content: '0';
        display: inline-block;
        width: 16px;
        font-family: inherit;

        @include breakpoint('large') {
          width: 12px;
        }
        @include breakpoint('medium') {
          width: 12px;
        }
      }

      &:hover {
        cursor: pointer;
        outline: none;
      }
    }

    .slick-active button {
      color: $primary-color;
      font: 26px $muller;
      line-height: 33px;
      outline: none;
      

      @include breakpoint('large') {
        font-size: 20px;
        line-height: 25px;
      }
      @include breakpoint('medium') {
        font-size: 20px;
        line-height: 25px;
      }
      @include breakpoint('small') {
        font-size: 0px;
        line-height: 0;
        border-color: $primary-color;
        background-color: $primary-color;

        &::after {
          display: none;
        }
      }

      &::before {
        width: 20px;

        @include breakpoint('large') {
          width: 14px;
        }
        @include breakpoint('medium') {
          width: 14px;
        }
      }

      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid $primary-color;
      }
    }
  }

  &.dots-black {
    .slick-dots li {
      outline: none;

      button {
        color: $almost-black;

        &:hover, :focus {
          color: $primary-color;
          outline: none;
        }
      }
    }

    .slick-active button {
      color: $primary-color!important;
      outline: none;
    }
  }
}

.slick-vertical .slick-slide {
  display: block;
  height: 100vh;
}
