.header {
	padding-top: 2.5%; 
	margin-bottom: 0;
	z-index: 2;
	width: 100%;
	// animation: fade-in-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;

	@include breakpoint('small') {
		margin: 0!important;
		padding: 0;
	}

	&__logo {
		padding: 0;

		@include breakpoint('small') {
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			top: 70px;
			display: none;
		}

		a i svg {
			width: 100%;
		}
	}

	&__nav {
		@include breakpoint('medium') {
			margin-top: 16px;
		}
	}

	.language-switch {
		display: none;

		@include breakpoint('small') {
			display: block;
		}
	}
}
