.header {
	padding-top: 2.5%; 
	margin-bottom: 0;
	z-index: 2;
	width: 100%;

	&__logo {
		padding: 0;
		margin: 0 0.75rem;

		@include breakpoint('small') {
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			top: 70px;
			display: none;
		}

		a i svg {
			width: 100%;
		}
	}
}
