.main-page {

  @include breakpoint('small') {
    text-align: center;
    background-color: transparent;
  }

  .container {

    @include breakpoint('small') {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .logo-mobile {
    display: none;

    @include breakpoint('small') {
      display: block;
      margin-top: 10vw;
    }

    i svg {
      width: 80%;
    }
  }

  &__name {
    width: 50%;
    margin-top: 5%;

    @include breakpoint('medium') {
      width: 60%;
    }

    @include breakpoint('small') {
      width: 100%;
      margin: 15% 0;
    }

    span {
      display: block;
    }
  }
  
  &__p {
    font: 20px $muller;
    font-weight: 200;
    margin: 40px 0;
    display: none;

    @include breakpoint('small') {
      display: block;
      margin-bottom: 10vw;
    }
  }

  .background--main {
    background-image: url(./img/Main_PAGE.jpg);
    background-size: cover;

    @include breakpoint('small') {
      background-position-x: 60%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}