.main-page {

  &__name {
    width: 50%;
    padding-top: 15%;

    @include breakpoint('medium') {
      width: 60%;
      padding-top: 25%;
    }

    span {
      display: block;
    }
  }

  .background--main {
    background-image: url(./img/Main_PAGE.jpg);
    background-size: cover;
  }
}