.main-page {

  &__name {
    width: 45rem;
    padding-top: 170px;

    span {
      display: block;
    }
  }

  .background--main {
    background-image: url(./img/Main_PAGE.jpg);
    background-size: cover;
  }
}