.footer {
  background-color: transparent;
  padding: 70px 0;
  z-index: 2;
  
  .container--footer {
    display: flex;
    justify-content: space-between;

    .social-buttons__item {
      width: 20px;
      height: 20px;

      .social-buttons__icon {
        svg {
          width: 20px;
          vertical-align: super;

          g {
            display: contents;
          }
        }
      }
    }
  }
}