.social-buttons {
  display: inline-flex;

  @include breakpoint('small') {
    display: none;
  }

  &__item {
    margin-right: 46px;
    width: 20px;
    height: 20px;

    @include breakpoint('hd') {
      width: 20px;
    }
    @include breakpoint('large') {
      width: 12px;
    }
    @include breakpoint('medium') {
      width: 10px;
    }
    @include breakpoint('small') {
      width: 18px;
      height: 18px;
      margin-right: 60px; 
    }

    .social-buttons__icon {
      @include breakpoint('small') {
        font-size: 0;
      }
      svg {
        vertical-align: super;
        width: 100%;

        g {
          display: contents;
        }

        rect {
          @include breakpoint('small') {
            width: 18px;
            height: 18px;
          }
        }
      }

      &:hover {
        svg g path {
          fill: $primary-color;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

}