.menu-page-item {
  padding-top: 170px;
  
  .menu-section__item {
    display: flex;
    justify-content: space-between;
    
    p {
      display: inline-block;
      background: inherit;
    }

    .position {
      flex: 2;
    }

    .price {
      flex: 0.5;
      text-align: right;
      white-space: nowrap;

      &::before {
        content: '...........................................................';
      }
    }

    // .dotted {
    //   display: inline-block;
    //   flex: auto;
    //   height: 20px;
    // }
  }
}

.menu-pic {
  position: absolute;
  top: 10%;
  right: -25px;
}
