.menu-page {
  padding-top: 170px;

  .menu-list__item {
    margin-bottom: 15px;
    
    a {
      display: inline-block;

      &:hover {
        background: transparent;
        color: white;
      }
    }
  }
}