.menu-item-page {
  padding-top: 10%;
  padding-bottom: 50px;
  
  @include breakpoint('small') {
    background-color: $almost-black;
    height: 100%;
    overflow: scroll;
  }

  .content-holder__item {
    width: 50%;
    
    @include breakpoint('small') {
      margin-top: 5%;
      margin-right: 0;
      width: 100%;
    }
  }
  
  .menu-section {
    margin-top: 20px;
  }

  .menu-section__item {
    display: flex;
    justify-content: space-between;
    
    p {
      display: inline-block;
      background: inherit;

      @include breakpoint('large') {
        font-size: 12px;
        line-height: 18px;
      }
      @include breakpoint('medium') {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .position {
      width: 60%;

      @include breakpoint('small') {
        flex: 0.8;
        font-size: 14px;
      }
    }

    .dotted {
      background-image: url('./img/dot.png');
      width: 25%;
      background-repeat: repeat-x;
      background-size: 2%;
      opacity: 0.7;
      margin-top: 1.8%;
      display: none;
    }

    .price {
      // flex: 0.5;
      text-align: right;
      white-space: nowrap;
    }
  }

  .menu-pic {
    width: 35%;
    top: 5%;
    
    img {
      // position: absolute;
      // top: 0%;
      // right: -25px;
      // // animation: fade-in-fwd 1.2s ease-out 0.2s 1 both;
  
      // @include breakpoint('large') {
      //   top: 0;
      //   right: 25px;
      //   width: 40%;
      // }
      // @include breakpoint('medium') {
      //   top: 0;
      //   right: 25px;
      // }
      // @include breakpoint('small') {
      //   display: none;
      // }
    }
  }
}


